
.container
{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.logger
{
  width:50%;
  order:1;
  flex: 0 1 auto  ;
  align-self: auto;
  min-width: 50%;
  min-height: auto;
}

#textinput
{
  margin:10px 0 10px;
}

.date
{
  margin-right:10px;
}

.listOfContents
{

  margin-top:20px;
  width:50%;
  height:200px;

  order:2;
  flex: 0 1 auto  ;
  align-self: auto;
  min-width: 50%;
  min-height: auto;
  overflow-y:scroll;
}

.total
{
  order:3;
  flex: 0 1 auto ;
  align-self: center;
  min-width: 10%;
  min-height: auto;
}

.listItem
{
  border-radius: 5px
  border-style: dotted;
}

#description
{
  color:#b00b00;
}

