
.container
{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.logger
{
  width:50%;
  order 1:
  flex: 0 1 10px  ;
  align-self: auto;
  min-width: 50%;
  min-height: auto;
}

#textinput
{
  margin:10px 0 10px;
}

.date
{
  margin-right:10px;
}

.listOfContents
{
  margin-top:20px;
    width:50%;
    height:200px;
  order 1:
  flex: 0 1 10px  ;
  align-self: auto;
  min-width: 50%;
  min-height: auto;
  overflow-y:scroll;
}

.listItem
{
  border-radius: 5px
}

#description
{
  color:#b00b00;
}

