
<section class="container" ng-controller="MainCtrl">

  <section class="logger">
    <form class="input-group">
      <input id="textinput" type="text" class="form-control" placeholder="Title" ng-model="title" required>
      <textarea id="textinput" class="form-control"  placeholder="Project description" rows="4" cols="50" ng-model="description" required></textarea>
      <input  id="startDateInput" class="date" type="text" required>
      <input  id="endDateInput" class="date" type="text" required>
      <button type="button" class="btn btn-primary" ng-click="submit()">Submit</button>
    </form>
  </section>

  <section class="listOfContents">
    <section class="listItem" ng-repeat="project in loggedProjects">
      <h4>Title: {{project.title}} | Hours: {{project.total}}</h4>
      <p id="description">{{project.description}}</p>
    </section>
  </section>

  <section class="total">
    <h2>{{numberOfItems}} | {{totalTime}}</h2>
  </section>


</section>